<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <meta name='viewport' content='initial-scale=1,maximum-scale=1,user-scalable=no' />
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <title>Melbourne public transit routes</title>

    <link rel="stylesheet" href="/css/bootstrap.min.css"/>
    <link rel='stylesheet'  href='/css/mapbox-gl.css'/>
    <link rel="stylesheet" href="/css/app.css"/>
  </head>

  <body>
    <div id='app-container' ng-app="MelbournePTVApp">
      <div ng-controller="MapController">
        <div id='sidebar' ng-cloak>

          <ul class='topnav' ng-show='selectedPane == "topnav"'>
            <li ng-click="selectedPane = 'tram'">Metro Tram</li>
            <li ng-click="selectedPane = 'bus'">Metro Bus</li>
            <li ng-click="selectedRoutes = []">Select None</li>
          </ul>

          <div ng-show='selectedPane == "tram"'>
            <div
              class="nav-button"
              ng-click="selectedPane = 'topnav'">&lt; Back</div>
            <route-list
              routes='tramRoutes'
              selected='selectedRoutes' />
          </div>

          <div ng-show='selectedPane == "bus"'>
            <div
              class="nav-button"
              ng-click="selectedPane = 'topnav'">&lt; Back</div>

            <route-list
              routes='busRoutes'
              selected='selectedRoutes' />
          </div>

        </div>
        <div
          mapbox
          class='mapbox-container'
          shapes-url='/api/shapes/'
          visible-shapes='selectedRoutes'></div>
      </div>
    </div>

    <script type="text/javascript" src="/bundle.js"></script>
  </body>
</html>
