<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name='viewport' content='initial-scale=1,maximum-scale=1,user-scalable=no' />
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <title>Melbourne public transit routes</title>

    <link rel="stylesheet" href="/css/bootstrap.min.css"/>
    <link rel='stylesheet'  href='/css/mapbox-gl.css'/>

    <link rel="stylesheet" href="/css/app.css"/>

  </head>
  <body>
    <div id='app-container' ng-app="MelbournePTVApp">
      <div ng-controller="MapController">
        <div id='sidebar'>
          <div ng-repeat='route in routes'>
            <span ng-click='select_route(route.shape_id)'>{{ route.long_name }}</span>
          </div>
        </div>
        <div mapbox class='mapbox-container' route-url='{{ routeUrl}}'></div>
      </div>
    </div>

    <script type="text/javascript" src="/bundle.js"></script>
  </body>
</html>
